{{ define "baseHead" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>
  <script src="{{.BasePath}}/static/htmx.min.js"></script>
  <style>
  </style>
</head>
<body>
{{end}}

{{ define "baseFoot" }}
</body>
</html>
{{ end }}


{{ define "index" }}
  {{template "baseHead" .}}
  <div>
    <div>
        <button 
            hx-get="/api/refresh-subjects"
            hx-target="#queryResult"
            hx-swap="innerHTML"
        >Refresh Subject List</button>

        <button
            hx-get="/api/pull-papers"
            hx-target="#queryResult"
            hx-swap="innerHTML"
        >Pull Papers</button>
    </div>

    <form 
        hx-get="/api/keyword-search" 
        hx-target="#queryResult"
        hx-swap="innerHTML"
    >
        <textarea name="searchQuery" rows=4 cols=100 placeholder="Keywords to search for. E.g. &quot;Machine Learning&quot; OR AI"></textarea>
        <input type="submit" value="Keyword search">
    </form>

    <form
        hx-get="/api/semantic-search" 
        hx-target="#queryResult"
        hx-swap="innerHTML"
    >
        <textarea name="searchQuery" rows=4 cols=100 placeholder="Style of article to search for. E.g. Survey of recent advances in machine learning."></textarea>
        <input type="submit" value="Semantic search">
    </form>
    <div id="queryResult">...</div>
  </div>
{{ template "baseFoot" . }}
{{ end }}


{{ define "paperResults" }}
{{ range . }}
    <div>
      <h2><a href="https://arxiv.org/abs/{{.ArxivId}}" target="_blank">{{.Title}}</a></h2>
      <p><em>Published: {{.PubDate}}</em></p>
      <p>{{.Desc}}</p>
      <p>Score: {{printf "%.3f" .Score}}</p>
    </div>
  {{ end }}
{{ end }}


{{define "signup"}}
{{template "baseHead" .}}
<form hx-post="/api/signup">
    <label for="email">Email</label>
    <input id="email" name="email" type="email" placeholder="someone@example.com">

    <label for="password">Password</label>
    <input id="password" name="password" type="password" placeholder="******">

    <label for="password">Confirm Password</label>
    <input id="passConf" name="passConf" type="password" placeholder="******">

    <input type="submit" value="Sign Up">
</form>
<p>Have an account? <a href="/login">Login</a></p>
{{template "baseFoot" . }}
{{end}}


{{define "login"}}
{{template "baseHead" .}}
<form hx-post="/api/login">
    <label for="email">Email</label>
    <input id="email" name="email" type="email" placeholder="someone@example.com">

    <label for="password">Password</label>
    <input id="password" name="password" type="password" placeholder="******">

    <input type="submit" value="Login">
</form>
<p>Don't have an account? <a href="/signup">Signup</a></p>
{{template "baseFoot" . }}
{{end}}
